<div class="col s3 m3 hide-on-med-and-down">
<div class="section">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s6 m3">
              <img src="https://randomuser.me/api/portraits/women/19.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s6 m9 padding-top-10">
              <span class="black-text">
                Ytzvan Mastino <p><i class="material-icons circle  red lighten-1 material-icon tooltipped" data-position="top" data-delay="25" data-tooltip="Discover">explore</i></i><i class="material-icons circle  red lighten-1 material-icon tooltipped" data-position="top" data-delay="25" data-tooltip="Add">add</i></p>
              </span>
            </div>
          </div>
        </div>

	<ul class="collection grey lighten-5 z-depth-1">
	<li class="collection-item avatar">
      <i class="material-icons circle wisteria">bookmark</i>
      <span class="title">All Bookmarks</span>
      <p>30 links
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">navigate_next</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Videos</span>
      <a href="#!" class="secondary-content"><i class="material-icons">navigate_next</i></a>
      <p>17 links
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">create</i>
      <span class="title">Articles</span>
      <a href="#!" class="secondary-content"><i class="material-icons">navigate_next</i></a>
      <p>20 links
      </p>
    </li>
    
    
  </ul>
        <br>

    <ul class="collection grey lighten-5 z-depth-1">
    <li class="collection-item avatar">
      <i class="material-icons circle yellow">favorite</i>
      <span class="title">Favorites</span>
      <p>25 Links
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">navigate_next</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">archive</i>
      <span class="title">Archived</span>
      <p>25 Links
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">navigate_next</i></a>
    </li>
    
    
  </ul>
        <br>


        
 
   </div>
</div>